<div class="container panel" style="margin-bottom: 2%;" ng-repeat="employee in employees">
    <div class="col-md-3">
        <div class="text-center">
            <div class="panel-body">
                <img alt="{{ employee.name }}" class="img-md img-circle img-border mar-btm" src="{{ employee.pictureUrl }}">
                <h4 class="mar-no">{{ employee.name }}</h4>
                <p>{{ employee.jobTitle }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <br><br>
            <h3 class="mar-no">Informasjon</h3>
            <p>{{ employee.information }}</p>
        </div>
    </div>
</div>
<footer class="footer navbar-fixed-bottom" style="background-color: #222222; height: 50px; margin-top: 2%; text-align: center">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>