<div class="content-section text-center">
    <div class="contact-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form ng-submit="submitEmployee()" class="form-horizontal">
                        <h2>Add a new employee</h2>
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" ng-model="name" name="name"  placeholder="Ola Nordmann">
                        </div>
                        <div class="form-group">
                            <label for="">Job title</label>
                            <input type="text" class="form-control" ng-model="jobTitle" name="jobTitle"  placeholder="Manager">
                        </div>
                        <div class="form-group">
                            <label for="">Phonenumber</label>
                            <input type="text" class="form-control" ng-model="phonenumber" name="phonenumber"  placeholder="12376543">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" ng-model="email" name="email" placeholder="olaNordmann@email.com">
                        </div>
                        <div class="form-group ">
                            <label for="">Information</label>
                            <textarea  class="form-control" ng-model="information" name="information" placeholder="Information"></textarea>
                        </div>
                        <input type="submit" id="submit" value="Submit employee" class="btn btn-primary"/>
                    </form>

                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class ="container text-center">
        <div class="col-sm-3" ng-repeat="employee in employees">
                    <div class="panel" style="margin-bottom: 20%;">
                            <div class="text-center">
                                <div class="panel-body">
                                    <img alt="{{ employee.name }}" class="img-md img-circle img-border mar-btm" src="{{ employee.pictureUrl }}">
                                    <h4 class="mar-no">{{ employee.name }}</h4>
                                    <p>{{ employee.jobTitle }}</p>
                                    <p>{{ employee.email }}</p>
                                    <p>{{ employee.phonenumber }}</p>
                                </div>
                        </div>
                    </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<!-- Footer -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    © 2015, The Architecture, All rights reserved
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                    <a href="#">Franchisee </a> |  <a target="_blank" href="https://anne-lise-brekke.net/">Web Design & Development by Tnes & Bjoa</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->