 <div class="container-fluid panel" style="margin-bottom: 2%;">
    <div class="col-md-7">
        <div class="panel-body">
          <img alt="Picture one" class="img-md img-border mar-btm" src="https://www.ntnu.no/documents/140800/0/Selbu_Schmidt_350.jpg/db364b06-21e9-4e5b-803a-162d7f0af4d8?t=1421764848550">
        </div>
    </div>
    <div class="col-md-3">
      <div class="text-center">
        <br><br>
        <h2 class="mar-no">Information</h2>
        <br>
        <h4>This is considered our greatest work so far. Beautiful architectural composition to catch the elements of the nature</h4>
      </div>
    </div>
 </div>
  <div class ="container text-center">
    <div class="col-sm-4" ng-repeat="project in projects">
            <div class="panel" style="margin-bottom: 20%;">
              <div class="text-center">
                <div class="panel-body">
                  <img alt="{{ project.name }}" class="img-md img-circle img-border mar-btm" src="{{ project.pictureUrl }}">
                  <h3 class="mar-no">{{ project.name }}</h3>
                  <h4 ng-hide="showDescription === true">{{ project.shortDescription }}</h4>
                  <div ng-show="showDescription === true">
                  <h4>{{ project.longDescription }}</h4>
                  </div>
                  <button ng-hide="showDescription === true" ng-click="showDescription = !showDescription">
                    Read More
                  </button>
                  <button ng-show="showDescription === true" ng-click="showDescription = !showDescription">
                    Read Less
                  </button>
                </div>
              </div>
            </div>
    </div>
  </div>
  <div>
  </div>
<!-- Footer -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          © 2015, The Architecture, All rights reserved
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
          <a href="#">Franchisee </a> |  <a target="_blank" href="https://anne-lise-brekke.net/">Web Design & Development by Tnes & Bjoa</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->

