<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
<div class="panel panel-primary ">
  <div class="panel-heading">
    Volvo240Turbo
  </div>
  <div class="panel-body">A Basic Panel</div>
</div>
<footer class="footer navbar-fixed-bottom" style="background-color: #222222; height: 50px; margin-top: 2%; text-align: center">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>